<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Features</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="
          background-image: url('https://i.pinimg.com/474x/1d/40/1c/1d401c14ff74241a297e6789b1f9645d.jpg');
          background-size: cover;
        "
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            Dai amore in più
          </h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="https://cdn.discordapp.com/attachments/1092788792601092116/1118095620683595836/vecteezy_vector-pet-shop-logo-design-template-modern-animal-icon_6470722-PhotoRoom.png-PhotoRoom.png"
                alt="Bootstrap"
                width="32"
                height="32"
                class="rounded-circle border border-white bg-light"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill"></use>
              </svg>
              <small>Earth</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3"></use>
              </svg>
              <small>3d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="
          background-image: url('https://i.pinimg.com/564x/ff/4e/e4/ff4ee42d75b015ee5f286427feecd339.jpg');
          background-size: cover;
        "
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            Il miglior negozio per animali domestici
          </h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="https://cdn.discordapp.com/attachments/1092788792601092116/1118095620683595836/vecteezy_vector-pet-shop-logo-design-template-modern-animal-icon_6470722-PhotoRoom.png-PhotoRoom.png"
                alt="Bootstrap"
                width="32"
                height="32"
                class="rounded-circle border border-white bg-light"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill"></use>
              </svg>
              <small>Pakistan</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3"></use>
              </svg>
              <small>4d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="
          background-image: url('https://i.pinimg.com/474x/8b/3a/a0/8b3aa069005234cabec1cfbe10a1b6ad.jpg');
          background-position: center;
          background-size: cover;
        "
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            I tuoi animali meritano il meglio
          </h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="https://cdn.discordapp.com/attachments/1092788792601092116/1118095620683595836/vecteezy_vector-pet-shop-logo-design-template-modern-animal-icon_6470722-PhotoRoom.png-PhotoRoom.png"
                alt="Bootstrap"
                width="32"
                height="32"
                class="rounded-circle border border-white bg-light"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill"></use>
              </svg>
              <small>California</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3"></use>
              </svg>
              <small>5d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Features with title</h2>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h2 class="fw-bold text-body-emphasis">
        Left-aligned title explaining these awesome features
      </h2>
      <p class="text-body-secondary">
        Paragraph of text beneath the heading to explain the heading. We'll add
        onto it with another sentence and probably just keep going until we run
        out of words.
      </p>
      <a href="#" class="btn btn-primary btn-lg">Primary button</a>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#collection"></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
          <p class="text-body-secondary">
            Paragraph of text beneath the heading to explain the heading.
          </p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#gear-fill"></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
          <p class="text-body-secondary">
            Paragraph of text beneath the heading to explain the heading.
          </p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#speedometer"></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
          <p class="text-body-secondary">
            Paragraph of text beneath the heading to explain the heading.
          </p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#table"></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
          <p class="text-body-secondary">
            Paragraph of text beneath the heading to explain the heading.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom">Icon grid</h2>

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
  >
    <div class="col d-flex align-items-start">
      <svg
        class="bi text-body-secondary flex-shrink-0 me-3"
        width="1.75em"
        height="1.75em"
      >
        <use xlink:href="#bootstrap"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg
        class="bi text-body-secondary flex-shrink-0 me-3"
        width="1.75em"
        height="1.75em"
      >
        <use xlink:href="#cpu-fill"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg
        class="bi text-body-secondary flex-shrink-0 me-3"
        width="1.75em"
        height="1.75em"
      >
        <use xlink:href="#calendar3"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg
        class="bi text-body-secondary flex-shrink-0 me-3"
        width="1.75em"
        height="1.75em"
      >
        <use xlink:href="#home"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg
        class="bi text-body-secondary flex-shrink-0 me-3"
        width="1.75em"
        height="1.75em"
      >
        <use xlink:href="#speedometer2"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg
        class="bi text-body-secondary flex-shrink-0 me-3"
        width="1.75em"
        height="1.75em"
      >
        <use xlink:href="#toggles2"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg
        class="bi text-body-secondary flex-shrink-0 me-3"
        width="1.75em"
        height="1.75em"
      >
        <use xlink:href="#geo-fill"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg
        class="bi text-body-secondary flex-shrink-0 me-3"
        width="1.75em"
        height="1.75em"
      >
        <use xlink:href="#tools"></use>
      </svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
  </div>
</div>
