<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">FAQs - Servizio Clienti</h2>

  <h4>L'80% DEI CLIENTI TROVA RISPOSTA ALLE SUE DOMANDE NELLE NOSTRE FAQ'S.</h4>
  <p>
    Non esitare a contattarci se hai bisogno di aiuto. Puoi contattarci
    telefonicamente in qualsiasi momento entro i nostri orari di apertura. In
    questa pagina trovi i riferimenti e gli orari di servizio. Al di fuori degli
    orari di servizio dell'assistenza telefonica, puoi inviarci una e-mail
    utilizzando il pulsante "Invia email".
  </p>
  <p>
    Hai già dato un'occhiata alle nostre FAQ? Potresti trovare velocemente la
    risposta che stavi cercando.
  </p>

  <div class="d-grid gap-2">
    <button class="btn btn-success" type="button">
      Domande sugli ordini online
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </button>
    <button class="btn btn-success" type="button">
      Trasporto e consegna<svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </button>
    <button class="btn btn-success" type="button">
      Resi e reclami<svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </button>
    <button class="btn btn-success" type="button">
      Domande sui negozi e ordini in negozio
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </button>
  </div>
</div>
