<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">FAQs - Servizio Clienti</h2>

  <h4>L'80% DEI CLIENTI TROVA RISPOSTA ALLE SUE DOMANDE NELLE NOSTRE FAQ'S.</h4>
  <p>
    Non esitare a contattarci se hai bisogno di aiuto. Puoi contattarci
    telefonicamente in qualsiasi momento entro i nostri orari di apertura. In
    questa pagina trovi i riferimenti e gli orari di servizio. Al di fuori degli
    orari di servizio dell'assistenza telefonica, puoi inviarci una e-mail
    utilizzando il pulsante "Invia email".
  </p>
  <p>
    Hai già dato un'occhiata alle nostre FAQ? Potresti trovare velocemente la
    risposta che stavi cercando.
  </p>

  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quali tipi di animali sono disponibili nel vostro negozio?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Nel nostro negozio sono disponibili diversi tipi di animali, tra cui
        cani, gatti, uccelli, piccoli animali come criceti.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quali sono i requisiti per l'adozione di un animale domestico?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        I requisiti per l'adozione di un animale domestico possono variare a
        seconda del tipo di animale. Di solito richiediamo un'adeguata
        dimostrazione di cura e attenzione nei confronti dell'animale, un
        ambiente adatto e il rispetto delle leggi e delle normative locali.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Fornite assistenza per la scelta del cibo adatto per il mio animale?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Assolutamente! Forniamo assistenza per la scelta del cibo appropriato
        per il tuo animale domestico. I nostri esperti saranno felici di
        consigliarti sulle migliori opzioni alimentari in base alle esigenze
        specifiche del tuo animale.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quali sono le diverse razze di cani o gatti che avete disponibili?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Nel nostro negozio abbiamo una varietà di razze di cani e gatti
        disponibili. Dai meticci alle razze pure, saremo felici di mostrarti le
        diverse opzioni per aiutarti a trovare l'animale che fa al caso tuo.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Avete accessori come cuccette, ciotole e giocattoli per animali?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Sì, nel nostro negozio troverai una vasta selezione di accessori per
        animali domestici, tra cui cuccette, ciotole, guinzagli, giocattoli e
        altro ancora. Abbiamo tutto ciò di cui hai bisogno per far sentire il
        tuo animale a suo agio e divertirsi.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Fornite consigli sulla salute degli animali domestici?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        La salute degli animali domestici è una priorità per noi. I nostri
        esperti possono fornire consigli sulla salute generale degli animali,
        sulla prevenzione delle malattie, sulle vaccinazioni e su come gestire
        eventuali problemi di salute.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Come posso prevenire le pulci e le zecche sul mio animale domestico?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Abbiamo una varietà di prodotti per la prevenzione di pulci e zecche,
        tra cui collari, spray e trattamenti topici. I nostri esperti possono
        consigliarti sulle opzioni più efficaci per proteggere il tuo animale
        domestico da questi parassiti.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quali sono le politiche di restituzione o cambio per gli animali
          acquistati?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Le nostre politiche di restituzione o cambio variano a seconda del tipo
        di animale. Ti invitiamo a contattarci direttamente per discutere delle
        tue esigenze specifiche e delle nostre politiche in materia di
        restituzioni o cambi.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Offrite consulenza per la scelta dell'animale domestico più adatto al
          mio stile di vita?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Sì, offriamo consulenza personalizzata per aiutarti a scegliere
        l'animale domestico più adatto al tuo stile di vita. Considereremo le
        tue preferenze, il tempo disponibile, lo spazio a disposizione e altre
        variabili per assicurarci che tu faccia una scelta informata e felice.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Fornite servizi di castrazione o sterilizzazione per gli animali
          domestici?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Attualmente non forniamo servizi di castrazione o sterilizzazione presso
        il nostro negozio. Tuttavia, possiamo consigliarti professionisti
        qualificati che offrono tali servizi nella nostra zona.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quali sono i costi associati all'adozione di un animale domestico?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        I costi associati all'adozione di un animale domestico possono variare a
        seconda del tipo di animale e delle sue esigenze specifiche. Ti
        forniremo tutte le informazioni sui costi durante il processo di
        adozione.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Come posso contattarvi per richiedere informazioni aggiuntive?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Puoi contattarci facilmente tramite telefono, email o visitando
        direttamente il nostro negozio. Troverai le nostre informazioni di
        contatto sul nostro fondo pagina nel nostro sito.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
