<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">FAQs - Servizio Clienti</h2>

  <h4>L'80% DEI CLIENTI TROVA RISPOSTA ALLE SUE DOMANDE NELLE NOSTRE FAQ'S.</h4>
  <p>
    Non esitare a contattarci se hai bisogno di aiuto. Puoi contattarci
    telefonicamente in qualsiasi momento entro i nostri orari di apertura. In
    questa pagina trovi i riferimenti e gli orari di servizio. Al di fuori degli
    orari di servizio dell'assistenza telefonica, puoi inviarci una e-mail
    utilizzando il pulsante "Invia email".
  </p>
  <p>
    Hai già dato un'occhiata alle nostre FAQ? Potresti trovare velocemente la
    risposta che stavi cercando.
  </p>

  <div class="d-grid gap-2">
    <button class="btn btn-success" type="button">
      Domande sugli ordini online
    </button>
    <button class="btn btn-success" type="button">Trasporto e consegna</button>
    <button class="btn btn-success" type="button">Resi e reclami</button>
    <button class="btn btn-success" type="button">
      Domande sui negozi e ordini in negozio
    </button>
  </div>
</div>
