main {
  background: linear-gradient(
    180deg,
    rgba(199, 234, 233, 1) 0%,
    rgba(47, 141, 141, 1) 100%
  );
}

.animal-card{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.188);
  transition: all 0.3s;
}

.animal-card:hover{
  scale: 1.1;
}
