<main>
  <div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary"
  >
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">I nostri cani</h1>
      <h3 class="fw-normal text-muted mb-3">
        L'amore incondizionato ha il naso bagnato!
      </h3>
      <div class="gap-3 justify-content-center fw-normal">
        <span>Hai trovato un cucciolo?</span>
        <a class="icon-link ms-2" [routerLink]="['/auth', 'register']">
          Aggiungilo al nostro sito!
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>

    <div class="product-device shadow-sm d-none d-md-block"></div>

    <div
      class="product-device product-device-2 shadow-sm d-none d-md-block"
    ></div>
  </div>
  <div class="container">
    <div class="row">
      <div *ngFor="let hamster of hamsters" class="col-6 col-lg-4">
        <div
          class="mx-md-2 pt-3 pt-md-5 px-md-5 text-center"
          style="background-color: rgb(209, 206, 24)"
        >
          <div class="my-2 py-2">
            <h2 class="display-5">{{ hamster.name }}</h2>
            <p class="lead">{{ hamster.breed }}</p>
            <p class="lead">{{ hamster.description }}</p>
          </div>
          <div
            class="me-2 w-100"
            style="
              height: 200px;
              border-radius: 21px 21px 0 0;
              background-image: url({{ hamster.url }});
              background-size: cover;
              background-position: center;
            "
          ></div>
        </div>
      </div>
    </div>
  </div>
</main>
