<div class="main m-auto py-3">
  <form #f="ngForm" class="w-50 text-center">
  <input
    type="text"
    class="form-control"
    name="name"
    [(ngModel)]="newAnimal.name"
    placeholder="Name"
  />
  <input
    type="text"
    class="form-control"
    name="breed"
    [(ngModel)]="newAnimal.breed"
    placeholder="Breed"
  />
  <input
    type="text"
    class="form-control"
    name="description"
    [(ngModel)]="newAnimal.description"
    placeholder="Description"
  />
  <input
    type="text"
    class="form-control"
    name="Url"
    [(ngModel)]="newAnimal.url"
    placeholder="Url"
  />
  <select
    name="specie"
    id="specie"
    class="form-select"
    multiple
    aria-label="multiple select example"
    [(ngModel)]="specie"
  >
    <option selected>--scegli specie--</option>
    <option value="cane">Cane</option>
    <option value="gatto">Gatto</option>
    <option value="uccelli">Uccello</option>
    <option value="coniglio">Criceto</option>
  </select>
  <button class="btn btn-primary" (click)="create(specie)">Aggiungi pet</button>
</form>
</div>

<table class="table mt-5">
  <tr *ngFor="let dog of dogs">
    <td><img src="{{ dog.url }}" alt="" /></td>
    <td>{{ dog.name }}</td>
    <td>{{ dog.breed }}</td>
    <td>{{ dog.description }}</td>
    <td>
      <a class="btn btn-warning" [routerLink]="['/crud', 'edit', dog.id]">
        Modifica
      </a>
      <button class="btn btn-danger" (click)="deleteDog(dog.id)">
        Elimina
      </button>
    </td>
  </tr>
  <tr *ngFor="let cat of cats">
    <td><img src="{{ cat.url }}" alt="" /></td>
    <td>{{ cat.name }}</td>
    <td>{{ cat.breed }}</td>
    <td>{{ cat.description }}</td>
    <td>
      <a class="btn btn-warning" [routerLink]="['/crud', 'edit-cat', cat.id]">
        Modifica
      </a>
      <button class="btn btn-danger" (click)="deleteCat(cat.id)">
        Elimina
      </button>
    </td>
  </tr>
  <tr *ngFor="let bird of birds">
    <td><img src="{{ bird.url }}" alt="" /></td>
    <td>{{ bird.name }}</td>
    <td>{{ bird.breed }}</td>
    <td>{{ bird.description }}</td>
    <td>
      <a class="btn btn-warning" [routerLink]="['/crud', 'edit-bird', bird.id]">
        Modifica
      </a>
      <button class="btn btn-danger" (click)="deleteBird(bird.id)">
        Elimina
      </button>
    </td>
  </tr>
  <tr *ngFor="let hamster of hamsters">
    <td><img src="{{ hamster.url }}" alt="" /></td>
    <td>{{ hamster.name }}</td>
    <td>{{ hamster.breed }}</td>
    <td>{{ hamster.description }}</td>
    <td>
      <a
        class="btn btn-warning"
        [routerLink]="['/crud', 'edit-hamster', hamster.id]"
      >
        Modifica
      </a>
      <button class="btn btn-danger" (click)="deleteHamster(hamster.id)">
        Elimina
      </button>
    </td>
  </tr>
</table>
