<header class="p-3 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <img
          class="bi me-5"
          width="80"
          height="80"
          src="https://cdn.discordapp.com/attachments/1092788792601092116/1118095620683595836/vecteezy_vector-pet-shop-logo-design-template-modern-animal-icon_6470722-PhotoRoom.png-PhotoRoom.png"
        />
      </a>

      <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="https://www.focus.it/site_stored/imgs/0001/047/csm105596.1020x680.jpg"></use></svg>
      </a> -->

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a [routerLink]="['/auth']" class="nav-link px-2 text-white mx-3"
            >Home</a
          >
        </li>
        <li><a href="#" class="nav-link px-2 text-white mx-3">Pets</a></li>
        <li>
          <a
            href="#"
            class="nav-link px-2 text-white mx-3"
            [routerLink]="['/crud']"
            >Add pet</a
          >
        </li>
        <li><a href="#" class="nav-link px-2 text-white mx-3">About</a></li>
        <li>
          <a [routerLink]="['/faqs']" class="nav-link px-2 text-white mx-3"
            >FAQs</a
          >
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control form-control-dark"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="text-end">
        <button
          *ngIf="authSvc.isLogged; else loginButton"
          (click)="logout()"
          type="button"
          class="btn btn-outline-light me-2"
        >
          Logout
        </button>
        <ng-template #loginButton>
          <button
            type="button"
            class="btn btn-outline-light me-2"
            [routerLink]="['/auth', 'login']"
          >
            Login
          </button>
        </ng-template>
        <button
          type="button"
          class="btn btn-outline-light btn-success"
          [routerLink]="['/auth', 'register']"
        >
          Sign-up
        </button>

        <!-- <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" style="">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div> dovrebbe comparire quando si è effettuato il log in -->
      </div>
    </div>
  </div>
</header>
