<main>
<div class="container px-4 py-5 text-light">
  <h2 class="pb-2 border-bottom">Dicono di noi</h2>

  <div class="input-group mb-3">
    <input
      type="textarea"
      class="form-control"
      placeholder="Scrivi un commento"
      aria-label="Recipient's username"
      aria-describedby="basic-addon2"
      name="text"
      [(ngModel)]="dataComments.text"
    />
    <button
      type="button"
      class="btn btn-success input-group-text"
      id="basic-addon2"
      (click)="addComm()"
    >
      Aggiungi commento
    </button>
  </div>

  <h2 class="pb-2 border-bottom">Recensioni</h2>
  <div
    class="flex-column flex-md-row p-4 gap-4 py-md-2 align-items-center"
    *ngFor="let commento of commentsArray"
  >
    <div class="list-group">
      <a
        href="#"
        class="list-group-item list-group-item-action d-flex gap-3"
        aria-current="true"
      >
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">{{ commento.name }} {{ commento.surname }}</h6>
            <p class="mb-0 opacity-75">{{ commento.text }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
</main>
